<div class="table-wrapper" >
  <table mat-table matSort [dataSource]="table.data" class="mat-elevation-z8" (matSortChange)="sortData($event)">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Sell Column -->
    <ng-container matColumnDef="№">
      <th mat-header-cell *matHeaderCellDef class="sell-column">
        Продать
      </th>
      <td mat-cell *matCellDef="let element" class="sell-column">
        <button class="sell-button" mat-flat-button color="primary" (click)="addToCard(element, getInputValueById(element.Id))">Добавить</button>
        <div>
          <button class="change-count-btn" mat-raised-button color="basic" (click)="decreaseCount(element.Id)">-</button>
          <mat-form-field class="count-form"><input id="product-count-{{element.Id}}" matInput type="number" minlength="1" value="1" required></mat-form-field>
          <button class="change-count-btn" mat-raised-button color="basic" (click)="increaseCount(element.Id)">+</button>
        </div>
      </td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="id-column">
        <div>No.</div>
      </th>
      <td mat-cell *matCellDef="let element" class="id-column">
        <span>{{element.Id}}</span>
      </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="Description">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="description-column">
        <div>Описание товара</div>
      </th>
      <td mat-cell *matCellDef="let element" class="description-column">{{element.Description}}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="Price">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="price-column">Цена</th>
      <td mat-cell *matCellDef="let element" class="price-column"> {{element.Price}} </td>
    </ng-container>

    <!-- Provider Description Column -->
    <ng-container matColumnDef="ProviderDescription">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="provider-description-column">Поставщик</th>
      <td mat-cell *matCellDef="let element" class="provider-description-column"> {{element.ProviderDescription}} </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef class="edit-column">
        <button mat-button matSuffix mat-icon-button (click)="openDialog(null)">
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let element" class="edit-column">
        <button mat-button matSuffix mat-icon-button (click)="openDialog(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button matSuffix mat-icon-button (click)="deleteProduct(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Filter Columns-->

    <!-- Empty Sell Filter -->
    <ng-container matColumnDef="Sell-filter">
      <th mat-header-cell *matHeaderCellDef class="sell-column"> </th>
    </ng-container>
    <!-- Id Filter -->
    <ng-container matColumnDef="No-filter">
      <th mat-header-cell *matHeaderCellDef class="id-column">
        <mat-form-field class="id-filter-form">
          <input placeholder="поиск по id" matInput type="number" (keyup.enter)="filterData()"  [(ngModel)]="filters.Id">
          <button mat-button *ngIf="filters.Id" matSuffix mat-icon-button aria-label="Clear" (click)="filters.Id=null; filterData()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </th>
    </ng-container>
    <!-- Description Filter -->
    <ng-container matColumnDef="Description-filter">
      <th mat-header-cell *matHeaderCellDef class="description-column">
        <mat-form-field class="description-filter-form">
          <input placeholder="поиск по описанию" matInput type="text" (keyup.enter)="filterData()" [(ngModel)]="filters.Description">
          <button mat-button *ngIf="filters.Description" matSuffix mat-icon-button aria-label="Clear" (click)="filters.Description=null; filterData()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </th>
    </ng-container>
    <!-- Price Filter -->
    <ng-container matColumnDef="Price-filter">
      <th mat-header-cell *matHeaderCellDef class="price-column">
        <div>
          <mat-form-field class="price-filter-form">
            <input placeholder="поиск по цене" matInput type="number" (keyup.enter)="filterData()" [(ngModel)]="filters.Price">
            <button mat-button *ngIf="filters.Price" matSuffix mat-icon-button aria-label="Clear" (click)="filters.Price=null; filterData()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="select-price-range">
            <mat-select [(value)]="filters.SelectedPriceRange">
              <mat-option value="{{ PriceRange.Equally }}">=</mat-option>
              <mat-option value="{{ PriceRange.More }}">></mat-option>
              <mat-option value="{{ PriceRange.Less }}"><</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </th>
    </ng-container>
    <!-- Provider Description Filter -->
    <ng-container matColumnDef="ProviderDescription-filter">
      <th mat-header-cell *matHeaderCellDef class="provider-description-column">
        <mat-form-field class="provider-description-filter-form">
          <input placeholder="поиск по поставщику" matInput type="text" (keyup.enter)="filterData()" [(ngModel)]="filters.ProviderDescription">
          <button mat-button *ngIf="filters.ProviderDescription" matSuffix mat-icon-button aria-label="Clear" (click)="filters.ProviderDescription=null; filterData()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </th>
    </ng-container>
    <!-- Empty Edit Filter -->
    <ng-container matColumnDef="Edit-filter">
      <th mat-header-cell *matHeaderCellDef class="edit-column"></th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"
        class="first-header-row"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedFilterColumns"
        class="second-header-row">
    </tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator
  [length]="table.paginator.length"
  [pageSize]="table.paginator.pageSize"
  [pageSizeOptions]="table.paginator.pageSizeOptions"
  [pageIndex]="table.paginator.pageIndex"
  (page)="onPaginationChange()"
  showFirstLastButtons>
</mat-paginator>

