mat-icon{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.table-wrapper {
  min-height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  overflow: auto;
}

table {
  width: 100%;
}

table tr {
  height: 22px;
}

table th {
  font-size: 14px;
}

table td {
  font-size: 13px;
}

table th,
table td {
  padding: 4px;
  margin: 0;
}
/* Disable input's arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Columns */
.sell-column{
  width: 12vw;
}
.id-column{
  width: 4vw;
}
.description-column{
  width: 32vw;
}
.price-column{
  width: 8vw;
}
.provider-description-column{
  width: 10vw;
}
/* Filter Forms */
.id-filter-form{
  width: 4vw;
}
.description-filter-form{
  width: 32vw;
}
.price-filter-form{
  width: 5.5vw;
}
.select-price-range{
  width: 1.5vw;
}
.provider-description-filter-form{
  width: 10vw;
}
/* Sell Cells */
.change-count-btn{
  font-size: 12px;
  height: 22px;
  width: 22px;
  min-width: 22px;
  line-height: normal;
  margin: 0 5px;
  padding: 0;
  text-align: center;
}
.count-form{
  width: 35px;
  height: 22px;
  font-size: 12px;
  text-align: center;
  line-height: normal;
}
/* Table Headers */
.first-header-row th {
  border-bottom: none;
}
.second-header-row th{
  height: 5vh;
}
