/* Columns */
.id-column{
  width: 5vw;
  max-width: 5vw;
}
.description-column{
  width: 9vw;
  max-width: 9vw;
}
.price-column{
  width: 3vw;
  max-width: 3vw;
}
.discount-price-column{
  width: 5vw;
  max-width: 5vw;
}
.count-column{
  width: 5vw;
  max-width: 5vw;
}
.total-price-column{
  width: 5vw;
  max-width: 5vw;
}

.select-discount-type{
  width: 30px;
  max-width: 30px;
}
.discount-form {
  width: 2vw;
  max-width: 2vw;
}

/* Count Cells */
.change-count-btn{
  font-size: 12px;
  height: 20px;
  width: 20px;
  min-width: 20px;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-align: center;
}
.count-form{
  width: 25px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  line-height: normal;
}
/* Disable input's arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sell-button{
  padding: 0;
  line-height: 24px;
  min-width: 72px;
}
/* Remove Table Padding */
.mat-cell:first-child {
   padding-left: 0;
 }
.mat-cell:last-child {
  padding-right: 0;
}
.mat-header-cell:first-child {
  padding-left: 0;
}
.mat-header-cell:last-child {
  padding-right: 0;
}
.mat-footer-cell:first-child {
  padding-left: 0;
}
.mat-footer-cell:last-child {
  padding-right: 0;
}
