<div class="table-wrapper">
  <table mat-table [dataSource]="sales" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef class="id-column">№<th>
      <td mat-cell *matCellDef="let element" class="id-column">
      <button mat-button mat-icon-button (click)="removeSell(element)"><mat-icon>close</mat-icon></button>
      <span>{{element.Product.Id}}</span>
      </td>
      <td mat-footer-cell *matFooterCellDef class="id-column">
        <button class="sell-button" mat-raised-button color="primary" (click)="sellProducts()">Продать</button>
      </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef class="description-column">Описание товара</th>
      <td mat-cell *matCellDef="let element" class="description-column">{{element.Product.Description}}</td>
      <td mat-footer-cell *matFooterCellDef class="description-column"> Итого </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef class="price-column">Цена</th>
      <td mat-cell *matCellDef="let element" class="price-column"> {{element.Product.Price}} </td>
      <td mat-footer-cell *matFooterCellDef class="price-column"></td>
    </ng-container>

    <!-- Discount Price Column -->
    <ng-container matColumnDef="DiscountPrice">
      <th mat-header-cell *matHeaderCellDef class="discount-price-column">Скидка</th>
      <td mat-cell *matCellDef="let element" class="discount-price-column">
        <mat-form-field class="discount-form">
          <input matInput type="number" minlength="1" *ngIf="element.DiscountType === DiscountType.Percent"
                 [(ngModel)]="element.DiscountPercent">
          <input matInput type="number" minlength="1" *ngIf="element.DiscountType === DiscountType.NewPrice"
                 [(ngModel)]="element.NewPrice">
          <input matInput type="number" minlength="1" *ngIf="element.DiscountType === DiscountType.Discount"
                 [(ngModel)]="element.DiscountPrice">
        </mat-form-field>
        <mat-form-field class="select-discount-type">
          <mat-select [(value)]="element.DiscountType">
            <mat-option value="{{ DiscountType.Percent }}">%</mat-option>
            <mat-option value="{{ DiscountType.NewPrice }}">=</mat-option>
            <mat-option value="{{ DiscountType.Discount }}">-</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td mat-footer-cell *matFooterCellDef class="discount-price-column"></td>
    </ng-container>

    <!-- Count Column -->
    <ng-container matColumnDef="Count">
      <th mat-header-cell *matHeaderCellDef class="count-column">Количество</th>
      <td mat-cell *matCellDef="let element" class="count-column">
        <button class="change-count-btn" mat-raised-button color="basic" (click)="decreaseCount(element)">-</button>
        <mat-form-field class="count-form"><input matInput type="number" minlength="1" [(ngModel)]="element.Count"></mat-form-field>
        <button class="change-count-btn" mat-raised-button color="basic" (click)="increaseCount(element)">+</button>
      </td>
      <td mat-footer-cell *matFooterCellDef class="count-column"> {{getTotalCount()}} </td>
    </ng-container>

    <!-- Total Price Column -->
    <ng-container matColumnDef="TotalPrice">
      <th mat-header-cell *matHeaderCellDef sticky class="total-price-column">Итого</th>
      <td mat-cell *matCellDef="let element" class="total-price-column"> {{getTotalSaleCost(element) | currency:'BYN':' ':'0.0-2' }} </td>
      <td mat-footer-cell *matFooterCellDef class="total-price-column"> {{getTotalCost() | currency:'BYN':'BYN ':'0.0-2'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"
        class="first-header-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>


  </table>
</div>
