@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  margin: 0;
  padding: 0;
}

#app-header {
  height: 30px;
}

.mat-grid-tile .mat-figure {
  align-items: baseline !important;
}

